<div ng-controller="NotesCtrl">
  <div class="col-lg-8">
    <div ng-show="selectedNote" ng-hide="editingNote">
      <h2>{{ selectedNote.title }}</h2>
      <p>{{ selectedNote.body }}</p>
      <button type="button" class="btn btn-primary" ng-click="editNote(selectedNote.id)">
        Edit!
      </button>
    </div>
    <div ng-show="editingNote" ng-hide="selectedNote">
      <input class="" type="text" ng-model="title">
      <textarea ng-model="text"></textarea>
      <button type="button" class="btn btn-success" ng-click="saveNote(id)">
        Save
      </button>
      <button type="button" class="btn btn-danger" ng-click="showNote(id)">
        Cancel!
      </button>
    </div>
    </div>
  <div class="col-lg-4">
    <ul>
      <li ng-repeat="note in notes" class="pointer">
        <span ng-click="showNote(note.id)">
            <h3>{{ note.title }}</h3>
            <small>{{ note.created_at| date: 'medium'}}</small>
        </span>
        <button type="button" class="btn btn-danger" ng-click="deleteNote(note.id)">
          Delete
        </button>
      </li>
    </ul>
    <button type="button" class="btn btn-primary" ng-click="editNote()">
      New
    </button>
  </div>
</div>

